@font-face {
  font-family: 'alteDin';
  src: url('din1451alt-altedin1451.eot'); /* IE9 Compat Modes */
  src: url('din1451alt-altedin1451.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('din1451alt-altedin1451.woff2') format('woff2'), /* Super Modern Browsers */
       url('din1451alt-altedin1451.woff') format('woff'), /* Pretty Modern Browsers */
       url('din1451alt-altedin1451.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('din1451alt-altedin1451.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    color: #CDCDCD;
    background-color: #171717;
    margin: 40px auto;
    width: 70%;
}

nav {
    border-bottom: 1px solid #d5d5d5;
}

nav ul, footer ul {
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
    font-size: 1.1em;
    color: #FFFFFF;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    color: #25a3ff;
}
a:hover {
    text-decoration: underline;
    color: #25a3ff;
}

nav a {
    color: #FFFFFF
}

.nav-right {
    font-weight: normal;
    font-size: 1.1em;
    color: #FFFFFF;
    float: right;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
}
h2 {
    font-size: 2em;
    font-weight: normal;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
}
h3 {
    font-size: 1.6em;
    font-weight: normal;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}
h4 {
    font-size: 1.3em;
    font-weight: normal;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}
p {
    font-size: 1.25em;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #CDCDCD;
    text-align: justify;]
}

b {
    font-weight: bold;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.2em;
    color: #FAFAFA;
}

ul {
    list-style-type: disc;
}

ul li {
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: normal;
    font-size: 1.2em;
    color: #DFDFDF;
    line-height:1.4em;
    text-align: justify;
}

ul li ul li{
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: normal;
    font-size: 1em;
    color: #DFDFDF;
    line-height:1.4em;
    text-align: justify;
}

table, th, tr {
    font-size: 1.1em;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #DFDFDF;
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    font-size: 1.1em;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #CDCDCD;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: justify;
}

.accordion {
    background-color: #282828;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-size: 1.25em;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #DFDFDF;
}

.accordion:after {
    content: '\002B';
    font-size: 1.25em;
    font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weigth: bold;
    color: #FFFFFF;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.active, .accordion:hover {
    background-color: #2F2F2F;
}

.panel {
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-left: 5px;
    margin-right: 5px;*/
    background-color: #171717;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#cf {
  position:relative;
  height:500px;
  width:100%;
  margin:20px;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

#module-grid {
   overflow: hidden;
   min-height: 190px;
   border-width: 0px;
   padding: 0px;
}

.ModuleGridElement {
   float: left;
   padding:5px;
   margin-right: 5px;
   margin-top: 5px;
   text-align: center;
   color: rgb(177, 176, 176);
   border-color: #4d4d4d;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
}

.ModuleGridElement:hover {
   background-color: #171717;
   color: rgb(255, 255, 255);
   border-width: 1px;
}

.ModuleGridElement img {
   margin-top: 10px;
   max-height: 225px;
}

.ModuleName {
   font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
   font-size: 16px;
   font-weight: bold;
}

.ModuleDescription {
   font-family:'alteDin', 'Helvetica', 'Arial', 'Sans-Serif';
   font-size: 14px;
}
