@font-face {
    font-family: "Alte-Din";
    src: url("css/fonts/din1451alt_g-altedin1451.eot");
    src:
    url("css/fonts/din1451alt_g-altedin1451.woff") format("woff"),
    url("css/fonts/din1451alt_g-altedin1451.otf") format("opentype"),
    url("css/fonts/din1451alt_g-altedin1451.svg#filename") format("svg");
}
