<!DOCTYPE html>
<html>
    <head>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>

                <li><a href="/about">About</a></li>
                <div class="nav-right">
                    <li>Valley Audio</li>
                </div>
            </ul>


        </nav>
        <div class="container">

        {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:valley.audio.soft@gmail.com">email</a></li>
                <li><a href="https://github.com/ValleyAudio/">github.com/ValleyAudio</a></li>
            </ul>
            <ul>
                <li>&copy; 2020 Dale Johnson</li>
            </ul>
        </footer>
    </body>
</html>
